html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  color: #ffffff !important;
  box-sizing: border-box;
  background-color: #222222;
  font-family: "Andika New Basic", sans-serif;
}
.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}
.addTarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputTexto {
  width: 100%;
}
.contenedorLista {
  display: flex;
  flex-direction: column;
}
.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
